name: Actions-creds

on:
  pull_request_target:

permissions:
 contents: read

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Echo Issue Comment
        run: |
          echo ${{ github.event.comment.body }}

      - name: Secrets
        run: |
          touch bla.txt
          echo ${{ secrets.SECRET1 }} > bla.txt

      - name:  Bla
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} > token
